<div class="sidebar">
    <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png" alt="Home Banner">
    <div class="sidebar-text">
        Welcome to SubNexus! Join our vibrant community, explore diverse topics, and connect with people who share your interests. Create posts, start discussions, and discover new subreddits.
    </div>
    <div class="sidebar-btn-container">
        <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
        <button class="btnCreateSubreddit" (click)="goToCreateSubreddit()">Create Subreddit</button>
    </div>
</div>