.sidebar {
  width: 40vh;
  height: 320px;
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgb(247, 249, 250);
  color: #878a8c;
  position: relative;
  border-radius: 15px;
  padding: 5px;
  margin-top: 80px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.sidebar img {
  width: 100%;
  height: 80px;
  border-radius: 10px;
}

.sidebar-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.sidebar-btn-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btnCreatePost,
.btnCreateSubreddit {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.btnCreatePost {
  background-color: #0079d3;
  color: white;
  &:hover {
    background-color: #005ea6;
    color: white;
  }
}

.btnCreateSubreddit {
  background-color: #ff4500;
  color: white;
  &:hover {
    background-color: #e03e00;
    color: white;
  }
}
