<div class="container">
    <div class="row">
      <!-- Create Subreddit Form - 9 Columns -->
      <div class="col-md-9">
        <div class="create-subreddit-container">
          <form class="post-form" [formGroup]="createSubredditForm" (ngSubmit)="createSubreddit()">
            <div class="form-group">
              <div class="create-subreddit-heading">Create Subreddit</div>
              <hr />
  
              <input type="text" formControlName="title" class="form-control" placeholder="Title" style="margin-top: 5px" />
  
              <textarea formControlName="description" class="form-control" placeholder="Description" style="margin-top: 5px"></textarea>
  
              <div class="form-buttons">
                <button type="button" (click)="discard()" class="btnDiscard">Discard</button>
                <button type="submit" class="btnCreateSubreddit">Create</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  
      <!-- Sidebar - 3 Columns -->
      <div class="col-md-3">
        <div class="sidebar">
          <h5 class="guidelines">Posting to Spring Reddit</h5>
          <hr />
          <ul>
            <li>Remember the human</li>
            <hr />
            <li>Behave like you would in real life</li>
            <hr />
            <li>Don't spam</li>
            <hr />
          </ul>
        </div>
      </div>
    </div>
  </div>
  